ACTION=="bind", SUBSYSTEMS=="usb", \
OPTIONS="log_level=debug", \
ATTRS{idVendor}=="0627", ATTRS{idProduct}=="0001", \
RUN+="/bin/bash -c 'echo 2-2:1.0 > /sys/bus/usb/drivers/usbhid/unbind'", \
RUN+="/bin/bash -c 'echo 2-2:1.0 > /sys/bus/usb/drivers/eudyptula/bind'"

